<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flab.demo.mapper.CategoryMapper">

    <insert id="register" parameterType="com.flab.demo.domain.Category">
        INSERT INTO CATEGORY(parent_id, category_name)
        VALUES(#{parentId}, #{categoryName})
    </insert>
</mapper>